# This file configures pre-commit hooks.
# See https://pre-commit.com/ for general information
# See https://pre-commit.com/hooks.html for a listing of possible hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-docstring-first
      - id: check-json
        exclude: "tsconfig.*json"
      - id: check-yaml
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: end-of-file-fixer
        exclude_types:
          - svg
          - pofile
        exclude: "(^LICENSE$)"
      - id: mixed-line-ending
        args:
          - "--fix=lf"
      - id: trailing-whitespace
        exclude_types:
          - svg
      - id: check-case-conflict
      - id: detect-private-key
  # See https://github.com/prettier/prettier/issues/15742 for the fork reason
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.6.2"
    hooks:
      - id: prettier
        types_or:
          - javascript
          - ts
          - markdown
  # Dockerfile hooks
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.14.0
    hooks:
      - id: hadolint
  # Shell script hooks
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.4.2
    hooks:
      - id: beautysh
        args:
          - "--tab"
        additional_dependencies:
          - setuptools
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: "v0.11.0.1"
    hooks:
      - id: shellcheck
  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor
